{% extends 'base.html' %}

{% block title %} Новогодние подарки {% endblock %}

{% block content %}
    <h1> О чем анкета? </h1>
    <br>
    <p> Эта анкета о новогодних подарках. В перспективе она может помочь в организации тайного санты (если сделать соответствующий раздел),
        ну а пока она просто выдает общую статистику по всем респондентам.Ты можешь посмотреть, какие варианты наиболее популярны и собрать свой подарок изходя из этого,
        или же я могу рассказать про определенного человека (если он введет имя, по которому я смогу его индентифицировать)
    </p>
{% endblock %}